html, body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 49%, rgba(0,212,255,1) 100%);
    display: 100vh;
    font-family: 'Cairo', sans-serif;
    font-size: 12px;
    line-height: 15px;
}

.calculatormargin{
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}
.calculatorWindow{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 360px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.459);
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.692);
    border-radius: 15px;
    padding: 5px;
    box-shadow: 1px 1px 15px #0000008f;
}
.results{
    margin-top: 5px;
    font-size: 15px;
    height: auto;
}

input{
    font-family: 'Cairo', sans-serif;
    width: 150px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 13px;
    outline: none;
    text-align: center;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #00000052;
}
    input:hover{
    box-shadow: 1px 1px 8px #cbced4;
}


button {
    font-family: 'Cairo',sans-serif;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #3da04cef;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 27px;
    height: 42.5px;
    width: 170px;
    min-width: 54px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.596);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #0000008f;
  }
.plus, .minus{
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    background-color: #3da04cef;
    color: rgb(255, 255, 255);
    line-height: 8px;
    height: 25px;
    width: 1px;
    padding: 5px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.596);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 1px 1px #00000052;
}
.minus{
    top: 7px;
    left: 10px;
}
.plus{
    top: 7px;
    right: 10px;
}

.tdsInput, .doseInput, .waterInput, .yieldBox, .extBox, .resultsBox, .lrrAdjust{
    background-color: #e5f0f1a6;
    position: absolute;
    width: 170px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px #0000008f;

}
.tdsInput{
    top: 10px;
    left: 10px;
}
.doseInput{
    top: 110px;
    left: 10px;
}
.waterInput{
    top: 210px;
    left: 10px;
}
.yieldBox{

    background-color: #e5f0f1a6;
    bottom: 10px;
    left: 10px;
}
.extBox{

    background-color: #e5f0f1a6;
    top: 10px;
    right: 10px;
}
.lrrAdjust{
    height: 42.5px;
    width: 170px;
    background-color: #e5f0f1a6;
    bottom: 57.5px;
    right: 10px;
    line-height:42.5px;
}

.resultsBox{
    background-color: #e5f0f1a6;
    padding:15px;
    top: 110px;
    right: 10px;
    height: 190px;
    font-size: 13px;
}

.finePrint{
    display: none;
    opacity: 50%;
    font-size:14px;
    position: absolute;
    left: -250px;
    bottom: 10px;
    background-color: rgb(203, 176, 224);
    width: 250px;
    height: 90px;
    line-height: 18px;
    padding: 10px;
    text-align: left;
    /* border: 1px solid #aff; */
    /* border-radius: 7px; */
    box-sizing: border-box;
    /* box-shadow: 0px 1px 5px #797979; */
}
.yieldBox:hover ~ .finePrint{
    display: block;
}
.o{
    font-size: 35px;
    color: red;
    vertical-align: middle;
}
